# Homebrew (topmost: allows checking for commands later)
if command -q brew
    brew shellenv | source
end

# Global defaults
set -g fish_greeting
if command -q nvim
    set -g EDITOR nvim
end

if status is-interactive
    # Aliases
{{- range .environment.shell.aliases | keys | sortAlpha }}
    {{- $val := index $.environment.shell.aliases . }}
    {{- $cmd := index (splitList " " $val) 0 }}
    if command -q {{ $cmd }}; alias {{ . }} {{ $val | quote }}; end
{{- end }}

    # Zed (internally alacritty) is weird with E3 capability, so use hard reset instead
    if test $TERM_PROGRAM = "zed"
        alias clear="printf '\033c'"
    end

{{- if .environment.shell.interactive_config }}
    ## Interactive shell config

{{- range .environment.shell.interactive_config | splitList "\n" }}
    {{ . }}
{{- end }}
{{- end }}
end

{{ if .environment.shell.config -}}
## Shell config

{{- range .environment.shell.config | splitList "\n" }}
{{ . }}
{{- end }}
{{- end }}

# SSH Askpass (requires pinentry-mac)
set -Ux SSH_ASKPASS_REQUIRE force
set -Ux SSH_ASKPASS "$HOME/.local/bin/ssh-askpass"

# SSH Agent
set -e SSH_AUTH_SOCK
ssh-agent -uu > /dev/null 2>&1 # This cleans up slate sockets

# Find previous agents (ones without leading slash)
set -l prev_agent_pid (ps -xo pid=,comm= | rg "[^/]ssh-agent" | awk '{print $1}' | head -n 1)

if test -n "$prev_agent_pid"
    # Find associated unix socket
    set -l prev_agent_sock (lsof -p $prev_agent_pid -a -U -Fn 2>/dev/null | string match -er '^n' | string replace 'n' '')

    if test -S "$prev_agent_sock"
        set -gx SSH_AUTH_SOCK $prev_agent_sock
        set -gx SSH_AGENT_PID $prev_agent_pid
    end
end

if not set -q SSH_AUTH_SOCK; or not test -S "$SSH_AUTH_SOCK"
    eval (ssh-agent -c)
end
