{{- with ((includeTemplate "coalesce_data.yaml.tmpl" .) | fromYaml) -}}
{{- $ := . -}}

#!/usr/bin/env bash {{- "\n" -}}

{{- if eq .chezmoi.os "darwin" -}}

brew bundle --file=/dev/stdin <<EOF
  {{- range .data.packages.brews -}}
    brew {{ . | quote }} {{- "\n" -}}
  {{- end -}}
  {{- if .data.metadata.gui -}}
    {{- range .data.packages.casks -}}
      cask {{ . | quote }} {{- "\n" -}}
    {{- end -}}
  {{- end -}}
EOF

{{- else if eq .chezmoi.os "linux" -}}

  {{- if .data.metadata.gui -}}
    {{- $flatpaks := .data.packages.flatpaks | compact | join " " | trim -}}
    {{- if gt (len $flatpaks) 0 -}}
      flatpak install {{ $flatpaks }} {{- "\n" -}}
    {{- end -}}
  {{- end -}}

  {{- $clis := .data.packages.cli | compact -}}

  {{- $include := list -}}
  {{- $exclude := list -}}
  {{- range $clis -}}
    {{- if hasPrefix "-" . -}}
      {{- $exclude = append $exclude (. | trimPrefix "-") -}}
    {{- else -}}
      {{- $include = append $include . -}}
    {{- end -}}
  {{- end -}}

  {{- $include = $include | compact | join " " | trim -}}
  {{- $exclude = $exclude | compact | join "," | trim -}}

  {{- if gt (len $exclude) 0 -}}
    {{- $exclude = nospace (cat .data.metadata.package_management.exclude_flag $exclude) -}}
  {{- end -}}

  {{- if gt (len $include) 0 -}}
    sudo {{ .data.metadata.package_management.command }} install {{ $include }} {{ $exclude }} {{- "\n" -}}
  {{- end -}}

  updates=$(eval {{ .data.metadata.package_management.update_count | quote }}) {{- "\n" -}}
  echo {{ output "date" "+'%a %b %d %Y'" | trim }}: $updates updates due {{- "\n" -}}

{{- end -}}

{{- end -}}
