#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}

brew bundle --file=/dev/stdin <<EOF
  {{- range .packages.darwin.brews -}}
brew {{ . | quote }}
  {{- end -}}
  {{- range .packages.darwin.casks -}}
cask {{ . | quote }}
  {{- end -}}
EOF

{{- else if eq .chezmoi.os "linux" -}}

  {{- if .gui -}}
    {{- $flatpaks := .packages.linux.flatpaks | compact | join " " | trim -}}
    {{- if gt (len $flatpaks) 0 -}}
      flatpak install {{ $flatpaks }} {{ "\n" }}
    {{- end -}}
  {{- end -}}

  {{- if gt (len (get .packages.linux .chezmoi.osRelease.id)) 0 -}}
    {{- $sys := get .packages.linux .chezmoi.osRelease.id -}}

    {{- $clis := $sys.cli.common -}}
    {{- if gt (len (get $sys.cli .chezmoi.hostname)) 0 -}}
      {{- $clis = concat $clis (get $sys.cli .chezmoi.hostname) -}}
    {{- end -}}

    {{- $include := list -}}
    {{- $exclude := list -}}
    {{- range ($clis | compact) -}}
      {{- if hasPrefix "-" . -}}
        {{- $exclude = append $exclude (. | trimPrefix "-") -}}
      {{- else -}}
        {{- $include = append $include . -}}
      {{- end -}}
    {{- end -}}

    {{- $include = $include | compact | join " " | trim -}}
    {{- $exclude = $exclude | compact | join "," | trim -}}
    {{- if gt (len $exclude) 0 -}}
      {{- $exclude = nospace (cat $sys.exclude_flag $exclude) -}}
    {{- end -}}

    {{- if gt (len $include) 0 -}}
      sudo {{ $sys.package_manager }} install {{ $include }} {{ $exclude }} {{ "\n" }}
    {{- end -}}
  {{- end -}}

{{- end -}}
