{{- define "process_deep_dict" -}}
  {{- $params := . -}}
  {{- $data := $params.data -}}
  {{- $ctx := $params.ctx -}}
  
  {{- range $key, $val := $data -}}
    
    {{- if hasPrefix "#" $key -}}
      {{- $tmp := dict "chezmoi" $ctx "data" $val -}}
      {{- $tmp = (includeTemplate "preprocessor.yaml.tmpl" $tmp) | fromYaml -}}
      {{- $_ := set $data (trimPrefix "#" $key) $tmp -}}
      {{- $_ := unset $data $key -}}

    {{- else if kindIs "map" $val -}}
      {{- template "process_deep_dict" (dict "data" $val "ctx" $ctx) -}}

    {{- else if kindIs "slice" $val -}}
      {{- range $val -}}
        {{- if kindIs "map" . -}}
          {{- template "process_deep_dict" (dict "data" . "ctx" $ctx) -}}
        {{- end -}}
      {{- end -}}

    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $result := dict "ctx" .chezmoi "data" (include "data.yaml" | fromYaml) -}}
{{- template "process_deep_dict" $result -}}

{{- $data := dict -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $data = mustMerge $data (get (get $result.data.linux .chezmoi.osRelease.id) "data") -}}
{{- end -}}
{{- $data = mustMerge $data (get (get $result.data .chezmoi.os) "data") -}}
{{- $data = mustMerge $data $result.data.data -}}

{{- dict "chezmoi" .chezmoi "data" $data | toYaml -}}
