{{- $ssh_files := glob (print .chezmoi.sourceDir "/dot_ssh/*") -}}
{{- $ssh_keys := list -}}

{{- range $ssh_files -}}
  {{- if hasSuffix "pub" . -}}
    {{- $ssh_keys = append $ssh_keys (include . | trim) -}}
  {{- end -}}
{{- end -}}

{{- (dict "ssh_keys" ($ssh_keys | compact)) | toYaml -}}
gui: {{ (eq .chezmoi.hostname "novasking" "yigirus") | toYaml | trim }}
packages:
  linux:
    fedora:
      external:
        common:
          ".local/bin/eza":
            type: archive-file
            url:
              kind: github_latest_release_asset_url
              args:
                - 'eza-community/eza'
                - 'eza_x86_64-unknown-linux-gnu.tar.gz'
            executable: true
            path: ./eza
          ".config/fish/completions/eza.fish":
            type: archive-file
            url:
              kind: github_latest_release_asset_url
              args:
                - 'eza-community/eza'
                - 'completions-*.tar.gz'
            executable: false
            stripComponents: 3
            path: eza.fish
