{{- $arch := .chezmoi.arch -}}
{{- if and (eq $arch "arm64") (eq .chezmoi.os "linux") -}}
  {{- $arch = "aarch64" -}}
{{- end -}}

{{- $ssh_files := glob (print .chezmoi.sourceDir "/dot_ssh/*") -}}
{{- $ssh_keys := list -}}

{{- range $ssh_files -}}
  {{- if hasSuffix "pub" . -}}
    {{- $ssh_keys = append $ssh_keys (include . | trim) -}}
  {{- end -}}
{{- end -}}

{{- (dict "ssh_keys" ($ssh_keys | compact)) | toYaml -}}
gui: {{ (eq .chezmoi.hostname "novasking" "yigirus") | toYaml | trim }}
arch: {{ $arch }}
packages:
  linux:
    fedora:
      external:
        common:
          ".local/bin/eza":
            type: archive-file
            url: {{ gitHubLatestReleaseAssetURL "eza-community/eza" ((cat "eza_" $arch "-unknown-linux-gnu.tar.gz") | nospace) | quote }}
            executable: true
            path: ./eza
          ".config/fish/completions/eza.fish":
            type: archive-file
            url: {{ gitHubLatestReleaseAssetURL "eza-community/eza" "completions-*.tar.gz" | quote }}
            executable: false
            stripComponents: 3
            path: eza.fish
