{{- with ((includeTemplate "coalesce_data.yaml.tmpl" .) | fromYaml) -}}
{{- $ := . -}}

{{- $result := dict -}}
{{- range $key, $val := .data.externals -}}
  {{- $url := $val.url -}}

  {{- if kindIs "map" $val.url -}}
    {{- $url = get $val.url $.chezmoi.arch -}}
  {{- end -}}

  {{- $_ := set $result $key (mergeOverwrite $val (dict "url" $url)) -}}
{{- end -}}

{{- $result | toYaml -}}

{{- end -}}
